<div id="clients-feedback" class="clients-feedback">
    <div class="container">
        <div class="clients-feedback__carousel carousel">
            <div class="carousel__item">
                <div class="h2 clients-feedback__title">Отзывы<br><span>наших клиентов</span></div>
                <img src="./images/clients-feedback_sphere.png" alt="" class="carousel__item-sphere">
                <div class="carousel__item-content">
                    <div class="carousel__item-left">
                        <img src="./images/clients-feedback.png" alt="" class="carousel__item-img">
                    </div>
                    <div class="carousel__item-right">
                        <p>Судьба Дороти Дин привлекла внимание ряда крупных изданий, ей посвящён большой раздел в вышедшем в 2001 году в Великобритании справочнике, который содержит биографии моделей. Взаимоотношениям натурщицы с британским художником-академистом Фредериком Лейтоном посвящены значительные разделы в его биографиях.</p>
                        <p><span>Дороти Дин</span><br>менеджер</p>
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="h2 clients-feedback__title">Отзывы<br><span>наших клиентов</span></div>
                <img src="./images/clients-feedback_sphere.png" alt="" class="carousel__item-sphere">
                <div class="carousel__item-content">
                    <div class="carousel__item-left">
                        <img src="./images/clients-feedback.png" alt="" class="carousel__item-img">
                    </div>
                    <div class="carousel__item-right">
                        <p>Судьба Либерти Флин привлекла внимание ряда крупных изданий, ей посвящён большой раздел в вышедшем в 2001 году в Великобритании справочнике, который содержит биографии моделей. Взаимоотношениям натурщицы с британским художником-академистом Фредериком Лейтоном посвящены значительные разделы в его биографиях.</p>
                        <p><span>Либерти Флин</span><br>менеджер</p>
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="h2 clients-feedback__title">Отзывы<br><span>наших клиентов</span></div>
                <img src="./images/clients-feedback_sphere.png" alt="" class="carousel__item-sphere">
                <div class="carousel__item-content">
                    <div class="carousel__item-left">
                        <img src="./images/clients-feedback.png" alt="" class="carousel__item-img">
                    </div>
                    <div class="carousel__item-right">
                        <p>Судьба Либерти Флин привлекла внимание ряда крупных изданий, ей посвящён большой раздел в вышедшем в 2001 году в Великобритании справочнике, который содержит биографии моделей. Взаимоотношениям натурщицы с британским художником-академистом Фредериком Лейтоном посвящены значительные разделы в его биографиях.</p>
                        <p><span>Либерти Флин</span><br>менеджер</p>
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="h2 clients-feedback__title">Отзывы<br><span>наших клиентов</span></div>
                <img src="./images/clients-feedback_sphere.png" alt="" class="carousel__item-sphere">
                <div class="carousel__item-content">
                    <div class="carousel__item-left">
                        <img src="./images/clients-feedback.png" alt="" class="carousel__item-img">
                    </div>
                    <div class="carousel__item-right">
                        <p>Судьба Либерти Флин привлекла внимание ряда крупных изданий, ей посвящён большой раздел в вышедшем в 2001 году в Великобритании справочнике, который содержит биографии моделей. Взаимоотношениям натурщицы с британским художником-академистом Фредериком Лейтоном посвящены значительные разделы в его биографиях.</p>
                        <p><span>Либерти Флин</span><br>менеджер</p>
                    </div>
                </div>
            </div>
            <div class="carousel__item">
                <div class="h2 clients-feedback__title">Отзывы<br><span>наших клиентов</span></div>
                <img src="./images/clients-feedback_sphere.png" alt="" class="carousel__item-sphere">
                <div class="carousel__item-content">
                    <div class="carousel__item-left">
                        <img src="./images/clients-feedback.png" alt="" class="carousel__item-img">
                    </div>
                    <div class="carousel__item-right">
                        <p>Судьба Либерти Флин привлекла внимание ряда крупных изданий, ей посвящён большой раздел в вышедшем в 2001 году в Великобритании справочнике, который содержит биографии моделей. Взаимоотношениям натурщицы с британским художником-академистом Фредериком Лейтоном посвящены значительные разделы в его биографиях.</p>
                        <p><span>Либерти Флин</span><br>менеджер</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>