<div id="our-vantages" class="our-vantages">
    <div class="container">
        <div class="h2 our-vantages__title">Мы хотим быть<br><span>максимально полезными для Вас, поэтому</span></div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item">
                    <img src="./images/our-vantages1.png" alt="" class="our-vantages__item-img">
                    <div class="our-vantages__item-info">За 30 лет работы помогли более<br>500 000 клиентам обрести хорошее<br>зрение</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item">
                    <img src="./images/our-vantages2.png" alt="" class="our-vantages__item-img">
                    <div class="our-vantages__item-info">Изготовление очков<br>от 40 мин до 3-х дней</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item">
                    <img src="./images/our-vantages3.png" alt="" class="our-vantages__item-img">
                    <div class="our-vantages__item-info">Удобный способ оплаты<br> частями - первый платеж до 50%</div>
                </div>
            </div>
        </div>
    </div>
</div>