<div id="our-certificates" class="our-certificates">
    <div class="container">
        <div class="h2 our-certificates__title">Наши<br><span>сертификаты</span></div>
        <div class="row carousel2">
                <div class="col-xl-4 col-lg-4 carousel2__item">
                    <div class="our-vantages__item our-certificates__item">
                        <img src="./images/our-certificates1.png" alt="" class="our-certificates__item-img">
                        <div class="our-certificates__item-title">Название сертификата</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 carousel2__item">
                    <div class="our-vantages__item our-certificates__item">
                        <img src="./images/our-certificates2.png" alt="" class="our-certificates__item-img">
                        <div class="our-certificates__item-title">Название сертификата</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 carousel2__item">
                    <div class="our-vantages__item our-certificates__item">
                        <img src="./images/our-certificates3.png" alt="" class="our-certificates__item-img">
                        <div class="our-certificates__item-title">Название сертификата</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 carousel2__item">
                    <div class="our-vantages__item our-certificates__item">
                        <img src="./images/our-certificates1.png" alt="" class="our-certificates__item-img">
                        <div class="our-certificates__item-title">Название сертификата</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 carousel2__item">
                    <div class="our-vantages__item our-certificates__item">
                        <img src="./images/our-certificates2.png" alt="" class="our-certificates__item-img">
                        <div class="our-certificates__item-title">Название сертификата</div>
                    </div>
                </div>
        </div>
    </div>
</div>