<form action="" class="form">
    <div class="form__title"><span>Заполните форму,</span><br>и наш специалист свяжется с Вами для записи на диагностику</div>
    <div class="form__inner">
        <div class="form__field-wrap">
            <input type="text" name="your-name" class="form__field" placeholder="Ваше имя">
        </div>
        <div class="form__field-wrap">
            <input type="text" name="your-phone" class="form__field" placeholder="Ваш телефон">
        </div>
        <button class="button form__submit" type="submit">Записаться на диагностику</button>
    </div>
</form>