.our-team {
  position: relative;
  background-image: url(../images/our-team_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 142px 0;

  @media(max-width: 991px) {
    background: none;
    padding: 75px 0;
  }
  @media(max-width: 767px) {
    padding: 30px 0;
  }

  &__sphere {
    position: absolute;
    left: 0;
    top: -350px;

    @media(max-width: 1365px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 110px;

    @media(max-width: 991px) {
      margin-bottom: 75px;
    }
    @media(max-width: 767px) {
      margin-bottom: 50px;
    }
    @media(max-width: 575px) {
      margin-bottom: 30px;
    }
  }

  &__item {

    &-info {
      margin-top: -2px;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 9px;
    }

    &-description {
      line-height: 1.25;
    }

    &-button {
      width: 100%;
      max-width: 273px;
      margin: 25px auto 45px;
      padding: 22px 50px 23px;

      @media(max-width: 1199px) {
        padding: 15px 50px 17px;
        margin: 20px auto;
      }
    }
  }
}