<div id="our-team" class="our-team">
    <img src="./images/our-team_sphere.png" alt="" class="our-team__sphere">
    <div class="container">
        <div class="h2 our-team__title">Наша команда<br><span>специалистов</span></div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-team__item">
                    <img src="./images/our-team1.png" alt="" class="our-assortment__item-img">
                    <div class="our-team__item-info">
                        <div class="our-team__item-title">Романова Евгения</div>
                        <div class="our-team__item-description">Детский врач офтальмолог,<br>стаж 7 лет</div>
                    </div>
                    <button class="button our-team__item-button">записаться на прием</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-team__item">
                    <img src="./images/our-team2.png" alt="" class="our-assortment__item-img">
                    <div class="our-team__item-info">
                        <div class="our-team__item-title">Переяслова Юлия</div>
                        <div class="our-team__item-description">Врач - офтальмолог общей практики,<br>1-й категории, стаж 10 лет</div>
                    </div>
                    <button class="button our-team__item-button">записаться на прием</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-team__item">
                    <img src="./images/our-team3.png" alt="" class="our-assortment__item-img">
                    <div class="our-team__item-info">
                        <div class="our-team__item-title">Бабанина Екатерина</div>
                        <div class="our-team__item-description">Врач - офтальмолог общей практики,<br>1-й категории, стаж 42 года</div>
                    </div>
                    <button class="button our-team__item-button">записаться на прием</button>
                </div>
            </div>
        </div>
    </div>
</div>