<div class="main-banner">
    {{> main-header }}
    <div class="inner-container main-banner__container">
        <div class="main-banner__intro">
            <h2 class="main-banner__title">Очки для коррекции, защиты и улучшения зрения по индивидуальному заказу</h2>
            <ul class="main-banner__items">
                <li class="main-banner__item">
                    <img src="images/verified.png" alt="" class="main-banner__item-icon">
                    <div class="main-banner__item-description">Оправы и линзы от ведущих производителей из Германии, Франции, Италии, Японии</div>
                </li>
                <li class="main-banner__item">
                    <img src="images/verified.png" alt="" class="main-banner__item-icon">
                    <div class="main-banner__item-description">Очки обеспечивают комфортность зрения на любом расстоянии для взрослых и детей</div>
                </li>
                <li class="main-banner__item">
                    <img src="images/verified.png" alt="" class="main-banner__item-icon">
                    <div class="main-banner__item-description">100% точность диагностики зрения за 20 минут</div>
                </li>
            </ul>
        </div>
        <button class="button main-banner__button">Записаться на диагностику зрения</button>
    </div>
</div>

