<div class="our-accessories" id="our-accessories">
    <div class="container">
        <div class="h2 our-accessories__title">Аксессуары для очков<br><span>и мягких контактных линз</span></div>
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="our-vantages__item our-accessories__item">
                    <div class="our-vantages__item-title our-accessories__item-title">Футляры для очков</div>
                    <div class="our-accessories__item-inner">
                        <div class="our-accessories__item-bg"></div>
                        <img src="./images/our-accessories1.png" alt="" class="our-accessories__item-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="our-vantages__item our-accessories__item">
                    <div class="our-vantages__item-title our-accessories__item-title">Салфетки</div>
                    <div class="our-accessories__item-inner">
                        <div class="our-accessories__item-bg"></div>
                        <img src="./images/our-accessories2.png" alt="" class="our-accessories__item-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="our-vantages__item our-accessories__item">
                    <div class="our-vantages__item-title our-accessories__item-title">Растворы для хранения<br>мягких контактных линз</div>
                    <div class="our-accessories__item-inner">
                        <div class="our-accessories__item-bg"></div>
                        <img src="./images/our-accessories3.png" alt="" class="our-accessories__item-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="our-vantages__item our-accessories__item">
                    <div class="our-vantages__item-title our-accessories__item-title">Дорожные наборы для<br>мягких контактных линз</div>
                    <div class="our-accessories__item-inner">
                        <div class="our-accessories__item-bg"></div>
                        <img src="./images/our-accessories4.png" alt="" class="our-accessories__item-img">
                    </div>
                </div>
            </div>
        </div>
        <button class="button our-accessories__button">Подобрать аксессуары для очков</button>
    </div>
</div>