<main class="main">
    {{> main-banner }}
    {{> our-vantages }}
    {{> our-assortment }}
    {{> our-acessories }}
    {{> action }}
    {{> individual-glasses }}
    {{> clients-feedback }}
    {{> our-team }}
    {{> our-certificates }}
    {{> our-contacts }}
    {{> main-footer }}
</main>
{{> scroll-up }}
