<div class="action">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6">
                <div class="action__intro">
                    <h2 class="action__intro-title">
                        Компьютерная диагностика зрения со 100%
                    </h2>
                    <div class="action__intro-subtitle">
                        <span>Оставьте заявку</span> в форме справа чтобы записаться на диагностику Вашего зрения
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="action__form">
                    {{> form }}
                </div>
            </div>
        </div>
    </div>
</div>