<div id="our-contaсts" class="our-contacts">
    <div class="container">
        <div class="row our-contacts__row">
            <div class="col-xl-4 col-lg-12">
                <div class="h2 our-contacts__title">Наши<br><span>контакты</span></div>
                <div class="our-contacts__cities">
                    <div class="our-contacts__city">
                        <div class="our-contacts__city-title">г. Днепр</div>
                        <a href="#" class="our-contacts__city-link">ул. Троицкая, 3а</a>
                        <a href="#" class="our-contacts__city-link">ул. Паникахи, 28 (ж.м. Тополь - 2)</a>
                        <a href="#" class="our-contacts__city-link">бул. Славы, 7 (ж.м. Победа - 6)</a>
                        <a href="#" class="our-contacts__city-link">пл. Соборная, 4 (в здании Медакадемии)</a>
                        <a href="#" class="our-contacts__city-link">пр. Гагарина, 10</a>
                        <a href="#" class="our-contacts__city-link">пр. Б. Хмельницкого, 118а (КСК "Шинник")</a>
                        <a href="#" class="our-contacts__city-link"></a>
                    </div>
                    <div class="our-contacts__city">
                        <div class="our-contacts__city-title">г. Кривой Рог</div>
                        <a href="#" class="our-contacts__city-link">ул. Соборности, 22 (Соцгород)</a>
                        <a href="#" class="our-contacts__city-link">ул. Мусоргского, 6 (44 квартал)</a>
                    </div>
                    <div class="our-contacts__city">
                        <div class="our-contacts__city-title">г. Каменское</div>
                        <a href="#" class="our-contacts__city-link">бул. Строителей, 23 (1-я горполиклиника)</a>
                    </div>
                    <div class="our-contacts__city">
                        <div class="our-contacts__city-title">+38 096 317 15 19</div>
                        <div class="our-contacts__city-title">chudozirl@gmail.com</div>
                    </div>
                    <div class="our-contacts__questions">
                        <div class="our-contacts__questions-title">Остались вопросы?</div>
                        <div class="our-contacts__questions-info">Наш специалист ответит на них в течение 15 мин</div>
                    </div>
                </div>
                <button class="button our-contacts__button">задать вопрос</button>
            </div>
            <div class="col-xl-8 col-lg-12 our-contacts__right">
                <div class="our-contacts__right-images">
                    <img src="./images/our-contacts1.png" alt="" class="our-contacts__right-top">
                    <img src="./images/our-contacts2.png" alt="" class="our-contacts__right-bottom">
                </div>
                <div class="our-contacts__map">
                    <img src="./images/map.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>