<div class="our-assortment" id="our-assortment">
    <div class="container">
        <div class="h2">Выбирайте из более 2000 видов<br><span>оправ, линз и аксессуаров</span></div>
        <div class="our-assortment__subtitle">От 40 мировых производителей, среди которых:<br>Seiko, Zeiss, Nikon, Johnson & Johnson, Prada, Tom Ford, Moschino, Blumarine, Gucci, Tom Hart</div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-assortment__item">
                    <div class="our-vantages__item-title">Корригирующие линзы<br>для очков</div>
                    <img src="./images/our-assortment1.png" alt="" class="our-assortment__item-img">
                    <div class="our-vantages__item-description">Предназначены для коррекции отклонений зрения. Устойчивые к царапинам</div>
                    <div class="our-vantages__item-description_more">... и еще более 100 вариантов</div>
                    <button class="button our-vantages__item-button">узнать стоимость</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-assortment__item">
                    <div class="our-vantages__item-title">Очки для работы<br>за компьютером</div>
                    <img src="./images/our-assortment2.png" alt="" class="our-assortment__item-img">
                    <div class="our-vantages__item-description">Идеальная защита от света, излучаемого цифровыми экранами.</div>
                    <div class="our-vantages__item-description_more">... и еще более 100 вариантов</div>
                    <button class="button our-vantages__item-button">узнать стоимость</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-assortment__item">
                    <div class="our-vantages__item-title">Фотохромные<br>линзы</div>
                    <img src="./images/our-assortment3.png" alt="" class="our-assortment__item-img">
                    <div class="our-vantages__item-description">Улучшают зрение и меняют степень затемнения в зависимости от интенсивности солнечного света.</div>
                    <div class="our-vantages__item-description_more">... и еще более 100 вариантов</div>
                    <button class="button our-vantages__item-button">узнать стоимость</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-assortment__item">
                    <div class="our-vantages__item-title">Водительские<br>линзы</div>
                    <img src="./images/our-assortment4.png" alt="" class="our-assortment__item-img">
                    <div class="our-vantages__item-description">Увеличивают чёткость в ночное и сумрачное время, препятствуют эффекту ослепления</div>
                    <div class="our-vantages__item-description_more">... и еще более 100 вариантов</div>
                    <button class="button our-vantages__item-button">узнать стоимость</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-assortment__item">
                    <div class="our-vantages__item-title">Прогрессивные<br>и офисные линзы</div>
                    <img src="./images/our-assortment5.png" alt="" class="our-assortment__item-img">
                    <div class="our-vantages__item-description">Это одна пара очков для всех расстояний. Обеспечивают чёткость зрения вблизи и вдаль.</div>
                    <div class="our-vantages__item-description_more">... и еще более 100 вариантов</div>
                    <button class="button our-vantages__item-button">узнать стоимость</button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="our-vantages__item our-assortment__item">
                    <div class="our-vantages__item-title">Мягкие контактные<br>линзы</div>
                    <img src="./images/our-assortment6.png" alt="" class="our-assortment__item-img">
                    <div class="our-vantages__item-description">Предназначены для людей, ведущих активный образ жизни. Служат для коррекции зрения.</div>
                    <div class="our-vantages__item-description_more">... и еще более 100 вариантов</div>
                    <button class="button our-vantages__item-button">узнать стоимость</button>
                </div>
            </div>
        </div>
    </div>
</div>