<div id="individual-glasses" class="individual-glasses">
    <div class="container">
        <div class="h2 individual-glasses__title">Посмотрите как могут выглядеть<br><span>Ваши индивидуально изготовленные очки</span></div>
        <div class="individual-glasses__slider slides">
            <div class="slide">
                <div class="slide__left">
                    <img src="./images/slide-left1.png" alt="">
                    <img src="./images/slide-left2.png" alt="">
                </div>
                <div class="slide__right">
                    <img src="./images/slide-right.png" alt="">
                </div>
            </div>
            <div class="slide">
                <div class="slide__right">
                    <img src="./images/slide-right.png" alt="">
                </div>
                <div class="slide__left">
                    <img src="./images/slide-left1.png" alt="">
                    <img src="./images/slide-left2.png" alt="">
                </div>
            </div>
        </div>
        <button class="button individual-glasses__button">Подобрать себе очки</button>
    </div>
</div>