<div class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="main-footer__logo">
                    <img src="./images/logo_desktop.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="main-footer__copyright">
                    <a href="#" class="main-footer__copyright-link">Политика конфиденциальности</a>
                    <div class="main-footer__copyright-info">© 2020 “Чудовий зiр”. Все права защищены</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="main-footer__studio">
                    <div class="main-footer__studio-info">
                        Проект
                        разработан:
                    </div>
                    <a href="#" class="main-footer__studio-logo">
                        <img src="./images/studio.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>