<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Чудовий зiр - отальмологiчний центр, салони оптики</title>
    <meta name="description" content="Изготовдение и продажа очков в Днепре, Каменском, Кривом Роге">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script defer="defer" src="js/bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{> body}}

</body>
</html>