<nav id="nav">
    <ul class="nav__links">
        <li><a href="#our-vantages" class="nav__link">Почему мы</a></li>
        <li><a href="#our-assortment" class="nav__link">Ассортимент</a></li>
        <li><a href="#our-accessories" class="nav__link">Аксессуары</a></li>
        <li><a href="#action" class="nav__link">Акция</a></li>
        <li><a href="#individual-glasses" class="nav__link">Очки под заказ</a></li>
        <li><a href="#clients-feedback" class="nav__link">Отзывы</a></li>
        <li><a href="#our-team" class="nav__link">Наша команда</a></li>
        <li><a href="#our-certificates" class="nav__link">Сертификаты</a></li>
        <li><a href="#our-contaсts" class="nav__link">Наши контакты</a></li>
    </ul>
</nav>

