<header class="main-header">
    <div class="inner-container main-header__container">
        <div class="logo main-header__logo">
            <a href="/" class="logo__link">
                <img src="./images/logo_desktop.png" alt="" class="logo__icon">
            </a>
            <h1 class="main-header__logo-slogan">Изготовление и продажа очков<br>в Днепре, Каменском, Кривом Роге</h1>
        </div>
        <div class="main-header__contacts">
            <div class="main-header__contacts-block">
                <a href="tel:+380963171519" class="main-header__contacts-phone">+38 096 317 15 19</a>
                <div class="main-header__contacts-timetable">
                    <span>Пн-Сб:</span> 10:00 -17:00
                </div>
            </div>
            <button class="main-header__contacts-button">Давайте мы перезвоним</button>
        </div>
        <div class="main-header__menu-toggle">
            {{> menu-toggle }}
        </div>
    </div>
</header>


