.main-header {
  padding: 12px 0;
  position: relative;
  background-image: url(../images/main-banner_top_right_bg.png);
  background-repeat: no-repeat;
  background-position-x: calc((100% + 1004px)/2);
  background-position-y: 0;
  min-height: 119px;

  @media(max-width: 767px) {
    background-image: url(../images/main-banner_top_right_small_bg.png);
    min-height: 108px;
    background-position: top right;
  }

  @media(max-width: 375px) {
    padding: 6px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-slogan {
      line-height: 1.25;
      margin-top: 6px;

      @media(max-width: 839px) {
        display: none;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    color: #fff;

    @media(max-width: 767px) {
      display: none;
    }

    &-block {
      margin-top: 8px;
      margin-right: 38px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media(max-width: 1200px) {
        margin-right: 15px;
      }

      @media(max-width: 991px) {
        display: none;
      }
    }

    &-phone {
      display: block;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      margin-bottom: 4px;
    }

    &-timetable {
      span {
        font-weight: 700;
      }
    }

    &-button {
      background: transparent;
      font-weight: 700;
      color: #fff;
      padding: 15px 43px 20px;
      outline: none;
      border: 2px solid #fff;
      border-radius: 50px;
      margin-top: 4px;
      transition: $delay;

      &:hover {
        background: #fff;
        border: 2px solid #1372bc;
        color: #1372bc;
      }

      @media(max-width: 1200px) {
        padding: 15px 20px;
      }
    }
  }

  &__nav {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }

  &__menu-toggle {
    display: none;
    align-self: center;

    @media(max-width: 767px) {
      display: block;
      margin-right: 3px;
    }
  }

  &_sticky {
    @media(max-width: 767px) {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      z-index: 999;
      background-color: #f1f6fa;
    }
  }
}

.logo {

  &__link {
    display: block;
  }
  &__icon {
    padding-right: 15px;
  }
}

.main-contacts {
  background-color: rgb(19, 114, 188);
  box-shadow: 0 6px 21px 0 rgba(19, 114, 188, 0.8);
  border-radius: 0 0 0 50px;
  width: 1059px;
  height: 137px;
}

.main-menu {

  @media (max-width: 767px) {
    position: fixed;
    top: -9999px;
    left: -9999px;
    right: 9999px;
    bottom: 9999px;
    background-color: #1372bc;
    opacity: 0;
    margin: 0;
    z-index: 200;
    border: none;
    min-width: 160px;
    width: 50%;
    text-align: center;
    border-radius: 0;
    transition: all 0s ease .35s, opacity .35s ease;

    #nav {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 5%;
      right: 0;
      bottom: 10%;
      transform: translateX(-50%);
      width: 100%;

      & > ul {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        justify-content: flex-start;

        & > li {
          padding: 0 20px;

          &>a {
            display: block;
            padding: 15px 10px;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;

            &:hover,
            &:active {
              color: white;
              text-decoration: none;
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
    }

    &.open {
      left: unset;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.9;
      max-width: 384px;
      min-width: 250px;
      transition: opacity .35s ease;
      overflow-y: scroll;
      z-index: 2;
    }
  }

  @media(max-width: 640px) {
    #nav {
      & > ul {
        & > li {
          font-size: 16px;
          line-height: 1;
        }
      }
    }
  }
}
